*{
    margin: 0;
    padding: 0;
}

//Verde: 03989E
// naranja: E6A16F
// fondo crema: F9F6F1
// negro: 212121/// 

.bg-nav{
    background-color:#f9f3f1;
}

.container-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 100px;
    
}

.img-logo{
    width: 150px;
    height: 150px;
    margin-left: 150px;
}


